<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


  <!-- ROBOTO FONT -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,100italic,300italic,500,300,700,400italic,700italic,500italic,100&subset=latin,greek-ext,latin-ext' rel='stylesheet' type='text/css'>


  <!-- LATO FONT -->
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Ramabhadra' rel='stylesheet' type='text/css'>

  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  <!-- -->

  <!-- FONT AWESOME ICONS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- BOOTSTRAP v4 -->
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="/assets/css/normalize.min.css" >
  <link rel="stylesheet" href="/assets/css/main.min.css">
</head>
<body>
  <div id="wrapper">

    {{> nav}}

    <div class="container-fluid">
      <div class="row">
       {{#if success_msg}}
        <div class="alert alert-dismissible alert-success fade show">{{success_msg}}</div>
      {{/if}}

      {{#if error_msg}}
        <div class="alert alert-dismissible alert-danger fade show">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
        <div class="alert alert-dismissible alert-danger fade show">{{error}}</div>
      {{/if}}
      {{#if errors}}
            {{#each errors}}
              <div class="alert alert-danger fade show" role="alert">{{msg}}</div>
            {{/each}}
      {{/if}}
{{!--         <div class="alert alert-dismissible" id="status-area"></div> --}}
        {{{body}}}
      </div>
    </div>
  </div>
  <script src="/assets/js/jquery-3.1.1.min.js"></script>
  <script src="/assets/bootstrap/js/tether.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/app.js"></script>
  {{#if script}}
  <script src="{{script}}"></script>
  {{/if}}
</body>
</html>
